
.link, .link2 {
  text-decoration: none;
}

.main {
  background-color: #fafafa;
  width: 85%;
  margin: auto;
}

.gantt-chart {
  overflow: auto;
  width: 100%;
  margin-bottom: 800px;
}

.prev-month a {
  display: none;
}

.next-month a {
  display: none;
}

.item-column, .calendar-heading-left {
  background-color: #DDDDDD;
}

.item-column {
  width: 8% !important;
  background-color: #DDDDDD;
  min-width: 10%;
  max-width: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.taskname {
  width: 100%;
  font-size: 13px;
  display: block;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  color: #202020;
  text-decoration: none;
  min-height: 38px;
}

.sticky-cell {
  position: sticky;
  left: 0;
  z-index: 10;
}

.calendar-heading {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.wrapper {
  display: flex;
  width: 100vw;
}

.head_rl {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.head_left {
  margin-left: 10px;
}

.head_right {
  margin-right: 25px;
}

.head {
  background-color: #253141;
  width: 100%;
  height: 30%;
  padding:10px 10px 5px 10px;
}

.head_title {
  font-size: 25px;
  color: white;
  margin: 10px 0px 0px 10px;
  text-shadow: rgb(7, 7, 7) 1px 0 10px;
  text-decoration: none;
}

.link {
  color: rgb(228, 228, 228);
}

.link:visited {
  color: white;
}

.link:hover {
  color: white; 
}

.sub {
width: 10px;
}

.task {
  background-color: rgb(156, 156, 255); 
}

.custom-td {
  background-color: #fafafa;
}

.even-row .custom-td {
  background-color: #ffffff;
}

.today {
  background-color: rgb(255, 255, 183);
}

.forms {
  width: 80%; /* ビューポートの幅に対する相対的なサイズ */
  font-size: 1.0em; /* フォントサイズの拡大 */
}

/* 各要素のサイズを調整 */
.memo-field,  .start_date select, .end_date select {
  width: 8%; /* コンテナの80%の幅 */
  height: 25px; /* 高さの調整 */
  margin-bottom: 10px; /* 下側の間隔 */
}

.name input {
  width: 25%; 
  height: 25px;
  margin-bottom: 10px;
}

.memo-field {
  width: 25%; 
  height: 50px;
}

.submit input {
  cursor: pointer; /* submitボタンのカーソル変更 */
  width: 10%; /* コンテナの80%の幅 */
  height: 25px;
  margin-left: 3.4%;
}

.name-wrapper {
  display: flex;
  align-items: center;
  gap: 8px; /* ラベルと入力フォームの間の隙間 */
}

.field_with_errors {
  width: 80%;
}

.blockname {
  max-width: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.taskname.blockname {
  display: inline-block;
  padding: 5px 10px; /* このパディングを調整して、クリックできる領域を増やす */
  background-color: rgb(156, 156, 255); /* 青色の背景を直接リンクに適用 */
}

.block-link {
  overflow: visible; /* これによりblocknameがはみ出しても表示される */
  white-space: nowrap; /* 改行なしで1行に表示 */
  text-overflow: clip; /* 省略記号(...)の代わりにクリップする */
  display: block;
  width: 100%;
  height: auto;  /* 高さを自動に設定 */
  min-height: 5px; /* 高さの最小値を設定（調整が必要な場合は適宜変更） */
  background-color: rgba(156, 156, 255, 0.7); /* 背景色を少し透明に設定 */
  font-size: 5px;
  text-decoration: none;
  color: #202020;
}

.block-link:hover {
  background-color: rgba(156, 156, 255, 0.9); /* ホバー時の背景色を濃くする */
}

   /* スマホ表示時 */

    @media (max-width: 599px) {
   .gantt-chart table {
    width: 200%; /* テーブル全体の幅を100%にする */
   }

   .main {
    width: 100%;
   }

   .gantt-chart th, .gantt-chart td {
    width: 2%; /* 各セルの幅を3%にする */
    text-overflow: ellipsis; /* コンテンツがセルに収まらない場合、...で省略する */
    white-space: nowrap; /* 改行を無視する */
   }

   .gantt-chart th {
    font-size: 12px;
   }

   .taskname {
    font-size: 6px; /* タスク名のフォントサイズを小さくする */
   }

   .forms {
      padding-left: 6%;
      width: 100vw; /* ビューポートの幅に対する相対的なサイズ */
      margin: auto; /* 中央揃え */
      font-size: 1.0em; /* フォントサイズの拡大 */
    }
  
    .memo-field,  .start_date select, .end_date select {
      width: 15%; /* コンテナの80%の幅 */
      height: 25px; /* 高さの調整 */
      margin-bottom: 10px; /* 下側の間隔 */
    }

    .name input {
      width: 50%; 
      height: 25px;
      margin-bottom: 10px;
    }
    
    .memo-field {
      width: 50%; 
      height: 50px;
    }
    
    .submit input {
      cursor: pointer; /* submitボタンのカーソル変更 */
      width: 30%; /* コンテナの80%の幅 */
      height: 25px;
      margin-left: 10%;
    }

 

  }
