body, html {
  margin: 0;
  padding: 0;
  height: 0;
}

.link, .link2 {
  text-decoration: none;
}

.main {
  background-color: #fafafa;
  width: 85%;
  margin: auto;
}

.gantt-chart {
  overflow: auto;
  width: 100%; 
  margin-bottom: 1000px;
}

//.wrapper,
//.calendar-heading {
//   position: sticky;
//    z-index: 100; /* z-indexを使用して、他のコンテンツよりも前面に表示されるようにします */
//}

thead th {
  position: sticky ;
  top: 0;
  background-color: white; 
  z-index: 2;
}

.wrapper {
    display: flex;
    width: 100vw;  
    top: 0;
}

.prev-month a {
  display: none;
}

.next-month a {
  display: none;
}

.item-column, .calendar-heading-left {
  background-color: #DDDDDD;
}

.item-column {
  position: sticky;
  left: 0;
  z-index: 1;
  width: 8% !important;
  background-color: #DDDDDD;
  min-width: 10%;
  max-width: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.taskname {
  width: 100%;
  font-size: 11px;
  display: block;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden; 
  text-overflow: ellipsis; 
  color: #202020;
  text-decoration: none;
  min-height: 24px;
  max-height: 24px;
  line-height: 12px; // 1行の高さを15pxに設定
  white-space: normal; //7文字以上の場合は改行（helperメソッドあり）
}

.sticky-cell {
  position: sticky;
  left: 0;
  z-index: 10;
}

.calendar-heading {
  text-align: center;
  font-size: 20px;
  //position: sticky;
  //top: 100px;
  z-index: 3; 
  background-color: white; 
}

.head_rl {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.head_left {
  margin-left: 10px;
}

.head_right {
  margin-right: 15px;
  margin-top: 3px;
}

.head {
  position: sticky;
  top: 0;
  background-color: #253141;
  width: 100%;
  height: 30%;
  padding: 10px 10px 5px 10px;
  z-index: 101; /* この値は.wrapperのz-indexよりも大きくすることでヘッダーを最前面に表示させる */
}

.head_title {
  font-size: 25px;
  color: white;
  margin: 10px 0px 0px 10px;
  text-shadow: rgb(7, 7, 7) 1px 0 10px;
  text-decoration: none;
}

.link {
  color: rgb(228, 228, 228);
}

.link2 {
  display: inline-block;
  padding: 6px 12px;
  margin: 8px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #e9e9e9;
  border: 1px solid #6d6d6d;
  border-radius: 4px;
  color: #363636;
  text-decoration: none;
  transition: background-color 0.2s;
}

.link2:hover {
  background-color: #7a7a7a;
  border-color: #7a7a7a;
}

.link:visited {
  color: white;
}

.link:hover {
  color: white; 
}

.sub {
  width: 10px;
}

.weekend {
  background-color: #ffcfcf;
}

.task {
  background-color: rgba(139, 139, 139, 0.254); 
}

.custom-td {
  background-color: #fafafa;
}

.even-row .custom-td {
  background-color: #ffffff;
}

.today {
  background-color: rgb(255, 255, 183);
}

.forms {
  width: 100%; /* ビューポートの幅に対する相対的なサイズ */
  font-size: 1.0em; /* フォントサイズの拡大 */
}

/* 各要素のサイズを調整 */
.memo-field,  .start_date select, .end_date select {
  width: 8%; /* コンテナの80%の幅 */
  height: 25px; /* 高さの調整 */
  margin-bottom: 10px; /* 下側の間隔 */
}

.name input {
  width: 16%; 
  height: 25px;
  margin-bottom: 10px;
}

.memo-field {
  width: 25%; 
  height: 50px;
}

.submit input {
  cursor: pointer; /* submitボタンのカーソル変更 */
  width: 10%; /* コンテナの80%の幅 */
  height: 25px;
  margin-left: 3.4%;
}

.name-wrapper {
  display: flex;
  align-items: center;
  gap: 8px; /* ラベルと入力フォームの間の隙間 */
}

.field_with_errors {
  width: 100%;
  
}

.blockname {
  max-width: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
}




.taskname.blockname {
  display: inline-block;
  background-color: rgb(100, 100, 255); /* 青色の背景を直接リンクに適用 */
}

.block-link {
  overflow: visible; /* これによりblocknameがはみ出しても表示される */
  white-space: nowrap; /* 改行なしで1行に表示 */
  text-overflow: clip; /* 省略記号(...)の代わりにクリップする */
  display: block;
  width: 100%;
  height: 12px;  /* 高さを自動に設定 */
  min-height: 5px; /* 高さの最小値を設定（調整が必要な場合は適宜変更） */
  background-color: rgba(139, 141, 255, 0.54); /* 背景色を少し透明に設定 */
  font-size: 5px;
  text-decoration: none;
  color: #202020;
  padding: 0 2px;
  line-height: 12px; // ブロックの高さと同じに設定
}

.block-link:hover {
  background-color: rgba(83, 83, 255, 0.9); /* ホバー時の背景色を濃くする */
}

#error_explanation {
  padding: 10px;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  margin-bottom: 20px; /* 余白の調整を行い、フォームとの間のスペースを確保します */
  color: #a94442;
}

#error_explanation h2 {
  font-size: 16px;
  margin-top: 0; /* 上部の余白をなくす */
}

#error_explanation ul {
  margin-bottom: 0; /* 下部の余白をなくす */
  padding-left: 20px; /* リストのパディングを調整 */
}

#error_explanation ul li {
  list-style-type: disc; /* リストのスタイルをディスクにする */
}

.field_with_errors input,
.field_with_errors select,
.field_with_errors textarea {
    box-shadow: none; /* シャドウを削除 */
    border: 1px solid #f00; /* 赤色の境界線を適用 */
    margin: 0; /* マージンを0に設定 */
    
}

   /* スマホ表示時 */

    @media (max-width: 599px) {

      .calendar-heading {
        top: 88px;
        font-size: 17px;
      }
        
    .head_title {
      font-size: 22px;
    }

   .gantt-chart table {
    width: 200%; /* テーブル全体の幅を100%にする */
   }

   .main {
    width: 100%;
   }

   .gantt-chart th, .gantt-chart td {
    width: 2%; /* 各セルの幅を3%にする */
    text-overflow: ellipsis; /* コンテンツがセルに収まらない場合、...で省略する */
    white-space: nowrap; /* 改行を無視する */
   }

   .gantt-chart th {
    font-size: 12px;
   }

   .taskname {
    font-size: 9px; /* タスク名のフォントサイズを小さくする */
   }

   .forms {
      padding-left: 6%;
      width: 100vw; /* ビューポートの幅に対する相対的なサイズ */
      margin: auto; /* 中央揃え */
      font-size: 1.0em; /* フォントサイズの拡大 */
    }
  
    .memo-field,  .start_date select, .end_date select {
      width: 15%; /* コンテナの80%の幅 */
      height: 25px; /* 高さの調整 */
      margin-bottom: 10px; /* 下側の間隔 */
    }

    .name input {
      width: 50%; 
      height: 25px;
      margin-bottom: 10px;
    }
    
    .memo-field {
      width: 50%; 
      height: 50px;
    }
    
    .submit input {
      cursor: pointer; /* submitボタンのカーソル変更 */
      width: 30%; /* コンテナの80%の幅 */
      height: 25px;
      margin-left: 10%;
    }

  
    .block-link {
      height: 8px; /* こちらの高さを調整して適切な大きさにします */
      line-height: 8px; /* 行の高さも上記と同じに設定します */
      padding: 0; /* 上下のパディングを削除して、テキストがブロックの端まで達するようにします */
    }

    .three-blocknames {
      height: 24px; /* 8px x 3 = 24px */
    }

    .head_right {
     font-size: 13px;
   }

   .block-link {
   font-size: 7px;
   background-color: #a5a5a5;
   }
 
  }
